<h3 class="text-primary mt-4">Productos</h3>

<br>

<div class="table-responsive">

    <table class="table align-middle table-dark">

        <tr class="text-warning">
            <th class="font-weight-bold">ID</th>
            <th class="font-weight-bold">Nombre</th>
            <th class="font-weight-bold">Precio</th>
            <th class="font-weight-bold">Imagen</th>
        </tr>

        {{#each products}}
        <tr>
            <td>
                {{this.id}}
            </td>
            <td>
                <a href="/productos/{{this.id}}">
                    {{this.title}}
                </a>
            </td>
            <td>
                {{this.price}}
            </td>
            <td>
                <div>
                    <img src={{this.thumbnail}} style="height: 25px;" alt="">
                </div>
            </td>
        </tr>
        {{/each}}

    </table>

</div>